{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section id="hero4" style="padding: 0; position: relative;margin-top: 100px">
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExample">
        <img src="{% static 'assets/img/rapport%202019.png' %} ">
    </div>

    <!-- Couleur par-dessus les images -->
    <div class="color-overlay"></div>

    <!-- Contenu texte -->
    <div class="container">
        <div class="text-container mb-5">

            <div class="section-title" style="font-size: 40px;margin-top: 57px">
                <h2 style="color: white">
                    RAPPORT
                </h2>
            </div>

        </div>
    </div>
</section>

<main class="mt-5 mb-5" id="main">

    <section class="cta2 container" id="cta2">
        <div class="container" data-aos="zoom-in">

            <div style="padding: 0px  60px 0px 60px;color: white">

                <h2 class="mb-4" style="color: white;text-transform: uppercase;font-size: 25px">
                    Rapport ITIE
                </h2>

                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/Rapport%20ITIE%20Congo%202020%20(juin%202022)%20(1).pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2020</a></button>
                        <br>

                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/ITIE%20Congo%202019%20version%20finale%20(1)%20(1).pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2019</a></button>
                        <br>
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/Rapport%20final%20ITIE%20Congo%202018%20sign%c3%a9%20(4).pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2018</a></button>
                        <br>

                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/02-Rapport%20final%20ITIE%20Congo%202017%20(1).pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2017</a></button>
                        <br>
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/Rapport%20ITIE%20Congo%202016%20(1).pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2016</a></button>
                        <br>
                    </div>

                    <div class="col-4">
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/Finergies-ITIECongo-Rapport2015.pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2015</a></button>
                        <br>

                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/finergies-itie-congo-rapport-itie-2014.pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2014</a></button>
                        <br>
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/rapport2013.pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2013</a></button>
                        <br>

                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/rapport2012.pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2012</a></button>
                        <br>
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/rapport2011.pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2011</a></button>
                        <br>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/rapport2010.pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE 2010</a></button>
                        <br>
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/rapport2007a2009.pdf"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            ITIE exercices 2007 à 2009</a></button>
                        <br>
                      <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/rapport2004a2006.pdf"
                                                                                                            style="color: white"
                                                                                                            target="_blank">Rapport
                        ITIE exercice 2004 à 2006</a></button>
                      <br>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="cta2 container mt-5" id="cta3">
        <div class="container" data-aos="zoom-in">
            <div style="padding: 0px  60px 0px 60px;color: white">
                <h2 class="mb-4" style="color: white;text-transform: uppercase;font-size: 25px">
                    Rapport de cadrage
                </h2>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                    <a href="https://fichiers.itie.cg/Etude%20de%20cadrage%20ITIE%20Congo%202019%20&%202020.pptx"
                       style="color: white"
                       target="_blank">Rapport de cadrage ITIE 2019-2020</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://fichiers.itie.cg/02-%20Etude%20de%20cadrage%20ITIE%20Congo%202018.pdf"
                     style="color: white"
                     target="_blank">Rapport de cadrage ITIE 2018</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/Pr%c3%a9sentation%20rapport%20cadrage%20-%20ITIE%20Congo%202016%20et%202017.pdf"
                                                                                                      style="color: white"
                                                                                                      target="_blank">Rapport cadrage ITIE 2016 et 2017</a></button>
                <br>

            </div>

        </div>

        </div>
    </section>

</main><!-- End #main -->
{% endblock %}