{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section id="hero4" style="padding: 0; position: relative;margin-top: 100px">
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExample">
        <img src="{% static 'assets/img/rapport%202019.png' %}">
    </div>

    <!-- Couleur par-dessus les images -->
    <div class="color-overlay"></div>

    <!-- Contenu texte -->
    <div class="container">
        <div class="text-container mb-5">

            <div class="section-title" style="font-size: 40px;margin-top: 57px">
                <h2 style="color: white">
                    Licences
                </h2>
            </div>

        </div>
    </div>
</section>

<main class="mt-5 mb-5" id="main">

    <section class="cta2 container" id="cta2">
        <div class="container" data-aos="zoom-in">

            <div style="padding: 0px  60px 0px 60px;color: white">

                <h2 class="mb-4" style="color: white;text-transform: uppercase;font-size: 25px">
                    Registre des licences du secteur extractif
                </h2>

                <div class="col-4">
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="http://cog-data.forest-atlas.org/datasets/d%C3%A9coupage-des-permis-miniers-/data"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            Registre des licences minières.</a></button>
                        <br>

                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://syscore-pub.finances.gouv.cg/views/registre-licence-petroliere-2019.php"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            Registre des licences pétrolières</a></button>
                        <br>
                        <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="http://cog-data.forest-atlas.org/datasets/forest-concessions/data"
                                                                                                              style="color: white"
                                                                                                              target="_blank">Rapport
                            Registre des licences forestières</a></button>
                        <br>

                    </div>

            </div>

        </div>
    </section>

    <section class="cta2 container mt-5" id="cta3">
        <div class="container" data-aos="zoom-in">

            <div style="padding: 0px  60px 0px 60px;color: white">

                <h2 class="mb-4" style="color: white;text-transform: uppercase;font-size: 25px">
                    Codes sectoriels
                </h2>

                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                    <a href="https://drive.google.com/file/d/1FkslVmy6uUSfvtaM8KXSR2FWpLZ1SPTY/view?usp=sharing"
                       style="color: white"
                       target="_blank">Codes sectoriels</a></button>
                <br>

                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/file/d/1ik2s1YmnAjTZLz5RREEAvHII5iF_pPDO/view?usp=sharing"
                     style="color: white"
                     target="_blank">Code des hydrocarbures</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://drive.google.com/file/d/1ik2s1YmnAjTZLz5RREEAvHII5iF_pPDO/view?usp=sharing"
                                                                                                      style="color: white"
                                                                                                      target="_blank">Code forestier</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/file/d/1T0bp8MWdzjD8UgC3Fz7eLmDrG-5BI1bk/view?usp=sharing"
                     style="color: white"
                     target="_blank">Code minier</a></button>
                <br>

            </div>
        </div>

        </div>
    </section>

    <section class="cta2 container mt-5" id="cta4">
        <div class="container" data-aos="zoom-in">

            <div style="padding: 0px  60px 0px 60px;color: white">

                <h2 class="mb-4" style="color: white;text-transform: uppercase;font-size: 25px">
                    Permis et licences
                </h2>

                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                    <a href="https://drive.google.com/drive/folders/1mkoO0uhcicJIW_ZQfb1TPePOqH_pNpaC"
                       style="color: white"
                       target="_blank">Forêt: conventions 2018-2019-2020</a></button>
                <br>

                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/file/d/1ik2s1YmnAjTZLz5RREEAvHII5iF_pPDO/view?usp=sharing"
                     style="color: white"
                     target="_blank">Mine:licences 2018-2019-2020-2021</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                    <a href="https://drive.google.com/drive/folders/1QSuKH5gLLvXBZwMPP0FS3P8cOjer3i3U"
                                                                                                      style="color: white"
                                                                                                      target="_blank">Code forestier</a>
                </button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/drive/folders/1AfVke4qLp6RX9q1rzPin-D0rgtNvEGy_"
                     style="color: white"
                     target="_blank">Hydrocarbures:licences 2019 -2020-2021</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/drive/folders/1Xn8TsWrA2RPMtw6nVrc7H7AO6bDakwlr?usp=sharing"
                     style="color: white"
                     target="_blank">Hydrocarbures: permis d'exploitation</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/drive/folders/1ZwakpIPPj92J9z6ZhGBd2b-5jO1w_iLP?usp=sharing"
                     style="color: white"
                     target="_blank">Hydrocarbures: permis de recherche</a></button>
                <br>

            </div>
        </div>

        </div>
    </section>

    <section class="cta2 container mt-5" id="cta5">
        <div class="container" data-aos="zoom-in">

            <div style="padding: 0px  60px 0px 60px;color: white">

                <h2 class="mb-4" style="color: white;text-transform: uppercase;font-size: 25px">
                    Autres
                </h2>

                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/file/d/1HflXZlRZq6Pc7EZ_lMqlPa3FSpBpiiWb/view?usp=sharing"
                     style="color: white"
                     target="_blank">Termes de référence de l'audit des coûts pétroliers</a></button>
                <br>
                <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i>
                  <a href="https://drive.google.com/file/d/1pC0dXHuEZ4inDrH8rHrRFdzLS-XL0jMD/view?usp=sharing"
                     style="color: white"
                     target="_blank">Statuts 2017 de la SNPC</a></button>
                <br>

            </div>
        </div>

        </div>
    </section>

</main><!-- End #main -->
{% endblock%}
