{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section id="hero4" style="padding: 0; position: relative;margin-top: 100px">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <img src="{% static 'assets/img/rapport%202019.png' %}">
    </div>

    <!-- Couleur par-dessus les images -->
    <div class="color-overlay"></div>

    <!-- Contenu texte -->
    <div class="container">
      <div class="text-container mb-5">

        <div class="section-title" style="font-size: 40px;margin-top: 57px">
          <h2 style="color: white">
            PRODUCTION & COMMERCIALISATION
          </h2>
        </div>

      </div>
    </div>
  </section>

  <main id="main" class="mt-5 mb-5">

    <section id="cta2" class="cta2 container">
      <div class="container" data-aos="zoom-in">

        <div style="font-size: 40px;text-align: center">
          <h2 style="color: white">
            COMMERCIALISATION
          </h2>
        </div>

        <div class="mt-5" style="padding: 0px  60px 0px 60px;color: white">
          <button class="btn btn-outline-warning"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FITIE%25202020%2520ENLEMENTS%2520PAR%2520SOCIETES.xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">ITIE 2020 Enlevements par sociétés</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FITIE%25202019%2520ENLEVEMENTS%2520PAR%2520SOCIETE.xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">ITIE 2019 Enlevements par Societés</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FEXPORTATIONS%2520FORETS%25202019.xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">Exportation forêt 2019</a></button><br>

          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FEXPORTATIONS%2520FORETS%25202020.xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">Exportation forêt 2020</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FEXPORTATIONS%2520MINIERES%25202020.xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">Exportation Mine 2020</a></button><br>

          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://web43.lws-hosting.com:2083/cpsess2714099931/frontend/paper_lantern/filemanager/upload-ajax.html?file=&fileop=&dir=%2Fhome%2Fitie%2Fpublic_html%2Ffichiers&dirop=&charset=&file_charset=&baseurl=&basedir=" target="_blank" style="color: white">Exportation Hydrocarbure 2019</a></button><br>

          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FEXPORTATIONS%2520HYDROCARBURES%25202020.xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">Exportation Hydrocarbure 2020</a></button><br>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
{% endblock %}