{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section id="hero4" style="padding: 0; position: relative;margin-top: 100px">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <img src="{% static 'assets/img/rapport%202019.png' %}">
    </div>

    <!-- Couleur par-dessus les images -->
    <div class="color-overlay"></div>

    <!-- Contenu texte -->
    <div class="container">
      <div class="text-container mb-5">

        <div class="section-title" style="font-size: 40px;margin-top: 57px">

          <h2 style="color: white"><!--Ici tu peux afficher le titre de chaque article-->
            Description de l'article
          </h2>
        </div>

      </div>
    </div>
  </section>

  <main id="main mb-5">
    <div class="container-fluid">

      <div class="col-12">
        <div class="album py-5 bg-light">

          <div class="container">

            <div class="row mb-5">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 image-hover">
                <a href="#" target="_blank">
                  <img src="{{ post.image.url }}" class="img-thumbnail blog_list_pict big-img" style="height: 65vh"/>
                </a>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <p class="pays_most_populaire_date text-secondary mt-1">Date de publication: {{ post.publish }}  par {{ post.author|upper }}</p>
                <a>
                  <p class="pays_most_populaire_title" style="font-weight: bold; overflow-wrap: break-word">{{ post.title }}</p>
                </a>
                </a>
                <p style="text-align: justify; overflow-wrap: break-word">{{ post.body}}</p>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </main><!-- End #main -->

{% endblock %}
