{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section id="hero4" style="padding: 0; position: relative;margin-top: 100px">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <img src="{% static 'assets/img/rapport%202019.png' %}">
    </div>

    <!-- Couleur par-dessus les images -->
    <div class="color-overlay"></div>

    <!-- Contenu texte -->
    <div class="container">
      <div class="text-container mb-5">

        <div class="section-title" style="font-size: 40px;margin-top: 57px">
          <h2 style="color: white">
            VALIDATION
          </h2>
        </div>

      </div>
    </div>
  </section>

  <main id="main" class="mt-5 mb-5">

    <section id="cta2" class="cta2 container">
      <div class="container" data-aos="zoom-in">

        <div  style="padding: 0px  60px 0px 60px;color: white">

          <h2 class="mb-4" style="color: white;text-transform: uppercase;font-size: 25px">
            Ministères des finances du budget et du portefeuille public
          </h2>

          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/scan_20220818204052%20(1).pdf" target="_blank" style="color: white">Note sur les revenus des ventes de pétrole brut à la Congolaise de Raffinage(CORAF), des recouvrements et de la subvention y relatifs au titre de l'année 2020</a></button><br>

          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FRoC%2520EITI%25202022%2520Validation%2520-%2520Transparency%2520template%2520-%2520avec%2520r%25c3%25a9ponses%2520aux%2520commentaires%2520de%2520validation%2520%2520(2).xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">ROC ITIE 2022 VALIDATION-TRANSPARENCY TEMPLATE- avec réponses aux commentaires de Validation</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/num%c3%a9risation0009%20(2).pdf" target="_blank" style="color: white">Circulaire du Premier Ministre à l'endroit des administrations</a></button><br>

          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/PROJET%20DE%20LOI%20PORTANT%20LOI%20DE%20REGLEMENT%20EXERCICE%202020.pdf" target="_blank" style="color: white">Projet de loi portant reglement exercice 2020</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/arrete%20fixant%20le%20montant%20des%20indemnites%20des%20sessions%20des%20membres%20du%20Comite%20national%20ITIE%20(1).pdf" target="_blank" style="color: white">Montant des indemnités de sessions</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/note%20relative%20commission%20ad%20hoc.pdf" target="_blank" style="color: white">Comiission ad hoc de la validation</a></button><br>

          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2FFiche%2520d%27%25c3%25a9valuation%2520r%25c3%25a9vis%25c3%25a9e%2520(5).xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">Fiche D'évaluation Revisée</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/plan%20de%20travail%202021-2022.pdf" target="_blank" style="color: white">Plan de Travail</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://fichiers.itie.cg/arrete%20fixant%20le%20montant%20des%20indemnites%20des%20sessions%20des%20membres%20du%20Comite%20national%20ITIE%20(1).pdf" target="_blank" style="color: white">Perdiems</a></button><br>
          <button class="btn btn-outline-warning mt-3"><i class="bi bi-arrow-right mx-2"></i><a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Ffichiers.itie.cg%2Fperdiems%2520(1).xlsx&wdOrigin=BROWSELINK" target="_blank" style="color: white">Tofe</a></button><br>

        </div>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}